@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dhurjati');
@import url('../font/fa-regular-400.eot');

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  /*background-image: url('../upload/bg.jpg');*/
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, p, span {
  font-family: 'New Courier', sans-serif;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

p, span {
  font-size: 17px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

li {list-style-type: none;}
li > a.active {text-decoration: underline;}

.required::after {
  content: '\00a0*';
  color: #FB001D;
}

/** HEADER **/
#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(199, 191, 230,1);
  /* f9f8f9 */
  box-shadow: 1px 3px 23px 0px rgba(0,0,0,.6);
  z-index: 1;
}

/** NAVBAR **/

.navbar {
  display: flex;
  margin: 0;
  padding: 0 14px 0 14px;
  height: 60px;
}

#header .navbar .navbar-left {
  display: flex;
}

ul {
  margin: 0;
}

#header .nav {
  display: flex;
}

#header .nav > ul > li {
  display: inline-block;
  padding-left: 15px;
}

#header .nav > li {
  padding-left: 25px;
}

.badge-notification {
  position: relative;
  top: -12px;
  margin-left: -12px;
  background-color: #A22932;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.brand {
  top: 50px;
}

.brand img {
  max-width: 10rem;
}

.nav-toggler {
  display: none;
  border-radius: 4px;
  padding: 6px;
  margin-right: 5px;
  background-color: #bbb7;
}

.nav-toggler span {
  cursor: pointer;
}

.dropdown-menu a {
  word-wrap: break-word;
  white-space: normal;
}

.dropdown-menu a:hover {
  background-color: rgb(162, 160, 159);
}

.notification-header {
  padding: 2px;
  border-bottom: 1px solid #bbb;
  box-shadow: 2px 12px 23px 0px rgba(0,0,0,0.07);
}

.notification-header div {
  display: inline-block;
}

.notification-title {
  margin-left: 13px;
  font-size: 19px;
}

.notification-opts {
  margin-right: 12px;
  float: right;
}

.notification-opts a:hover {
  background-color: transparent;
}

.notification-content {
  margin-top: 5px;
  max-height: 176px;
  overflow-y: hidden;
}

.notification-content:hover {
  overflow-y: auto;
}

.user-navbar {
  font-size: 19px;
}

.user-navbar > li.dropdown .dropdown-menu {
  width: 240px;
  left: -170px;
}

.ty-search input {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.ty-search button {
  margin-left: -35px;
}

.data-list {
  min-width: 230px;
  position: absolute;
  background-color: #fff;
  font-size: 18px;
}

.data-list ul {
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  word-wrap: break-word;
}

.data-list ul .header {
  padding: 4px;
  border-bottom: 1px solid #000;
}

.data-list ul h3 {
  margin-top: 4px;
  margin-left: 8px;
  padding: 3px;
  border-top: 1px solid #000;
  text-transform: uppercase;
  font-size: 19px;
}

.data-list li {
  padding: 15px;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
}

.data-list li:hover {
  background-color: rgba(199, 191, 230, 0.3);
}

.data-list li img {
  margin-right: 5px;
  max-height: 24px;
  border-radius: 6px;
}

/** MAIN **/

.wrap {
  min-height: 100%;
  padding-top: 70px;
  /* background-color: #bbb */
}

.wrap .container {
  color: #000;
}

.fixed-alert {
  position: fixed;
  z-index: 9999;
  animation-name: anim-hide;
  animation-duration: 6s;
}

.alert-toggle {
  animation-name: anim-hide;
  animation-duration: 4s;
}
.container-alert__small {
  position: relative;

}

.alert {
  width: 100%;
}

@keyframes anim-hide {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden;}
}


.top-background h3 {
  color: #fff;
}

.u-icon {
  position: relative;
  max-width: 25px;
  max-height: 25pX;
}

.img-circle {
  border-radius: 15px;
}

.dropdown .user-name {
  margin-left: 8px;
  display: none;
}

.dropdown-menu .user-name {
  display: block;
}

/** HOME **/

.card {
  background: #FFF;
  margin-bottom: 25px;
  flex-direction: column;
}

.card-header {
  color: rgb(38, 43, 227);
}

#_home .card span {
  color: #bbb;
  line-height: .3em;
  font-size: 14px;
}

.block-hero {
  width: 100%;
  height: 275px;
  background-image: url('../upload/welcome.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 4px;
  border-bottom: 1px solid #fff;
}

.block-hero .block-header {
  font-size: 30px;
}

.block-hero .caption {
  padding: 45px;
  margin-left: 35px;
  color: #fff;
}

.block-hero .caption .block-body {
  margin-top: 5px;
}
/*
.block-benefits {
  margin-top: 5px;
  width: 100%;
}

.block-benefits > h2 {
  text-align: center;
  text-transform: uppercase;
}

.block-benefits > .benefits-hero {
  display: inline-block;
  width: 295px;
  height: 285px;
  padding: 15px;
  margin-top: 6px;
  border-radius: 14px;
}

.block-benefits > .benefits-hero > .hero-benefits-books {
  width: 100%;
  height: 180px;
  //background-image: url('../upload/benefits-books.png');
  background-size: cover;
}

.block-benefits > .benefits-hero > .hero-benefits-regis {
  width: 160px;
  height: 180px;
  //background-image: url('../upload/temp.png');
  background-size: cover;
}

.block-benefits > .benefits-hero span {
  font-size: 18px;
}

.block-box {
  padding: 15px;
  width: 350px;
  height: auto;
  margin: 25px;
  display: inline-block;
  vertical-align: top;
  background: #363FB6;
  border: 1px solid #bbb;
  text-align: center;
  color: #FFF;
}

.block-box h1, .block-box h2, .block-box h3 {
  text-transform: uppercase;
  font-size: 23px;
}

.block-box > .block-body {
  margin-top: 12px;
}

.block-body div#benefits p::before {
  content: '\f00c\00a0';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}

*/

.block-body p.disabled {
  color: #bbb;
}

.block-footer .socials p {
  display: inline-block;
}

.block-footer .socials i {
  cursor: pointer;
}

.form-reader {
  max-height: 170px;
  margin-left: 12px;
  overflow-y: scroll;
}

.form-reader h1, .form-reader h2, .form-reader p {
  font-family: 'New Courier', sans-serif ;
}

.form-reader h2 {
  padding: 5px;
}

.form-reader p {
  padding-left: 12px;
}

/*** PUBLISHERS ***/

/****************/
.publisher-home {
  /*background-color: #FFF;*/
  height: auto !important;
  border-radius: 6px;
}

.publisher-home > .publisher-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 350px;
}

.publisher-home > .publisher-header .publisher-logo {
  width: 125px;
  position: relative;
  top: 200px;
  border: 4px solid #000;
  border-radius: 16px;
}

.publisher-home > .publisher-header .publisher-logo img {
  width: 100%;
  border-radius: 16px;
}

.publisher-home > .publisher-header .info {
  display: inline-flex;
  max-width: 35%;
  position: relative;
  top: 130px;
  left: 150px;
  color: #fff;
}

.publisher-home > .publisher-header .info span {
  font-size: 24px;
  font-weight: bold;
}

.publisher-home > .publisher-body {
  margin-top: 0;
  padding: 25px;
  /*box-shadow: 2px -1px 21px 0px rgba(0,0,0,0.04);*/
  border-radius: 6px;
}

.publisher-info {
  float: right;
}

.publisher-info > li {
    display: inline-block;
}

.publisher-bar * {
  margin-top: 12px;
  font-size: 23px;
}

.publisher-bar .links {
  text-decoration: underline;
}

/*** READ ARTICLE ***/

article span[style^='background'] {
  padding: 4px;
}

.block-article {
  padding: 20px;
}

.block-meta {
  margin: 0;
  padding: 0;
}

.meta-tags li {
  display: inline-block;
}

.block-footer {
  padding: 12px;
}

.block-footer div {
  margin-bottom: 25px;
}

.block-footer a {
  text-decoration: none !important;
}

.block-footer #tags span::before {
  content: '#\00a0';
}

.block-footer #tags span {
  color: #000;
}

.preview_body img {
  max-height: 160px;
  background-size: contain;
}

/*** ***/

input[type="file"] {
    display: none;
}
.custom-upload {
  cursor: pointer;
}
/*** FOOTER ***/

footer {
  padding: 14px;
  border-top: 1px solid #A22932;
  box-shadow: 0 -1px 2px 0 #000;
  background-color: #fff;
  color: #000;
  text-align: center;
}

footer a, footer a:hover {
  color: #000;
}

/** MOBILE **/

@media (max-width: 1024px) {
  input[type=radio] {
    width: auto;
  }
  #header .container {
    padding: 0;
    margin: 0;
  }
  .navbar-open {
    overflow: hidden;
  }
  .nav-toggler {
    display: block;
  }
  /*
  #header nav.nav  {
    display: none ;
  }
  #header nav.nav li {
    display: block;
    padding: 0;
    margin: 0;
  }
  #header .nav.open {
    max-height: 250px;
    display: block;
    position: absolute;
    top: 50px;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 2px 12px 23px 0px rgba(0,0,0,0.34);
    overflow-y: auto;
  }
  #header .nav.open li {
    padding: 8px;
    border-bottom: 1px solid #000;
    box-shadow: 1px 0 1px 0 #000;
  }
  nav.nav.open li:hover {
    background-color: #bbb;
  }
  nav.nav.open li a {
    color: #000;
    font-family: 'New-Courier', italic;
    font-size: 18px;
  }
  */
  .ty-search {
    margin-left: 20px;
    margin-top: 2px;
  }
  .ty-search input {
    display: none;
  }
  .ty-search > .data-list {
    display: none;
  }
  .ty-search.full-width {
    width: 100%;
  }
  .ty-search.full-width > .data-list {
    display: block;
    left: 0;
    width: 100%;
  }
  .ty-search.full-width input {
    display: inline;
    width: 80%;
  }
  .ty-search.full-width button {
    margin: 0;
  }
}

/**********/

/** Scrollbar **/
/*::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #bbc;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}*/

/** USER INTERFACE **/

.__ui__g {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: rgba(0,0,0,0.4);*/
}

.__ui__g_container {
  margin: 125px auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  width: auto;
  max-width: 380px;
}

.__ui__g_container .__ui__g_header div {
  display: inline-block;
}

.__ui__g_container .__ui__g_header {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}

.__ui__g_header .__ui__g_title {
  font-weight: bold;
  font-size: 24px;
}

.__ui__g_header .__ui__g_close {
  float: right;
  position: relative;
  top: -10px;
  font-size: 26px;
  cursor: pointer;
}
