@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dhurjati');
@import url('../font/fa-regular-400.eot');

html, body {
  height: 100%;
}

body {
  background: #e9ebee;
}

a, a:hover {
  text-decoration: none !important;
}

a, a:hover {
  color: #000;
}

h1, h2, h3, h4, p, span {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

p, span {
  font-size: 17px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.required::after {
  content: '\00a0*';
  color: #FB001D;
}

/** HEADER **/
#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f9f8f9;
  box-shadow: 1px 1px #bbb;
  z-index: 1;
}

/** NAVBAR **/

.navbar {
  display: flex;
  margin: 0;
  padding: 0 14px 0 14px;
  height: 60px;
}

#header .navbar .navbar-left {
  display: flex;
}

ul {
  margin: 0;
}

#header .nav {
  display: flex;
}

#header .nav > ul > li {
  display: inline-block;
}

#header ul li {
  margin-left: 12px;
}

.badge-notification {
  position: absolute;
  top: -5px;
  margin-left: 4px;
  background-color: #801515;
  color: #fff;
  z-index: 1;
}

.brand {
  top: 50px;
}

.brand img {
  max-width: 10rem;
}

.nav-toggler {
  display: none;
  border-radius: 4px;
  padding: 6px;
  margin-right: 5px;
  background-color: #bbb7;
}

.nav-toggler span {
  cursor: pointer;
}

.dropdown-menu a:hover {
  background-color: rgb(162, 160, 159);
}

.user-navbar {
  font-size: 19px;
}

.user-navbar > li.dropdown .dropdown-menu {
  width: 240px;
  left: -170px;
}

.user-navbar .user-info {
  background-image: -moz-linear-gradient(bottom right, #233134 8%, #595959 38%, #CFCFB4);
  background-image: -webkit-linear-gradient(bottom right, #233134 8%, #595959 38%, #CFCFB4);
  background-image: -o-linear-gradient(bottom right, #233134 8%, #595959 38%, #CFCFB4);
  top: 0;
  padding: 15px;
  color: #FFF;
}


.user-navbar > li.dropdown .dropdown-menu .user-badge {
  display:block;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  padding-left: 13px;
  position: relative;
}

.user-navbar > li.dropdown .dropdown-menu .user-badge:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  left: 0;
  top: 5px;
  border: 1px solid #FFF;
  border-radius: 50%;
  display:block;
}

.user-navbar > li.dropdown .dropdown-menu .user-badge.online::after {
  background-color: #00FF11;
}

.user-navbar > li.dropdown .dropdown-menu .user-badge.busy::after {
  background-color: #800006;
}

.ty-search {
  width: 150px;
  max-width: 100%;
  background: transparent;
  border: none;
}
/** MAIN **/

.wrap {
  min-height: 100%;
  padding-top: 70px;
  /* background-color: #bbb */
}

.wrap .container {
  color: #000;
}

.top-background {
  min-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-background h3 {
  color: #fff;
}

.u-icon {
  position: relative;
  max-width: 25px;
  max-height: 25pX;
}

.img-circle {
  border-radius: 15px;
}

.dropdown .user-name {
  margin-left: 8px;
  display: none;
}

.dropdown-menu .user-name {
  display: block;
}

/** HOME **/

.card {
  background: #FFF;
  margin-bottom: 25px;
  flex-direction: column;
}

.card span {
  color: #bbb;
  line-height: .3em;
  font-size: 14px;
}

.card-block p {
  color: #bbb;
}

.block-hero {
  width: 100%;
  height: 550px;
  background-image: url('../upload/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.block-hero .caption {
  position: relative;
  top: 375px;
  margin-left: 35px;
  color: #fff;
  margin-left: 50px;
}

.block-hero .caption h1 {
  text-transform: uppercase;
}

.block-benefits {
  margin-top: 5px;
  width: 100%;
}

.block-benefits > h2 {
  text-align: center;
  text-transform: uppercase;
}

.block-benefits > .benefits-hero {
  display: inline-block;
  width: 295px;
  height: 285px;
  padding: 15px;
  margin-top: 6px;
  border-radius: 14px;
}

.block-benefits > .benefits-hero > .hero-benefits-books {
  width: 100%;
  height: 180px;
  //background-image: url('../upload/benefits-books.png');
  background-size: cover;
}

.block-benefits > .benefits-hero > .hero-benefits-regis {
  width: 160px;
  height: 180px;
  //background-image: url('../upload/temp.png');
  background-size: cover;
}

.block-benefits > .benefits-hero span {
  font-size: 18px;
}

.block-box {
  padding: 15px;
  width: 350px;
  height: auto;
  margin: 25px;
  display: inline-block;
  vertical-align: top;
  background: #363FB6;
  border: 1px solid #bbb;
  text-align: center;
  color: #FFF;
}

.block-box h1, .block-box h2, .block-box h3 {
  text-transform: uppercase;
  font-size: 23px;
}

.block-box > .block-body {
  margin-top: 12px;
}

.block-body div#benefits p::before {
  content: '\f00c\00a0';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}

.block-body p.disabled {
  color: #bbb;
}

.block-footer .socials p {
  display: inline-block;
}

.block-footer .socials i {
  cursor: pointer;
}

.form-reader {
  max-height: 170px;
  margin-left: 12px;
  overflow-y: scroll;
}

.form-reader h1, .form-reader h2, .form-reader p {
  font-family: 'New Courier', sans-serif ;
}

.form-reader h2 {
  padding: 5px;
}

.form-reader p {
  padding-left: 12px;
}

/*** PUBLISHERS ***/

.publisher-home {
  background: #FFF;
  height: auto !important;
  border-radius: 6px;
}

.publisher-home > .publisher-header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.publisher-home > .publisher-header .publisher-logo {
  margin-top: 215px;
  margin-left: 15px;
  border-radius: 23px;
}

.publisher-home > .publisher-header .info {
  display: inline-flex;
  max-width: 25%;
  position: relative;
  top: 75px;
  left: 23px;
  color: #FFF;
}

.publisher-home > .publisher-header .info span {
  max-width: 90%;
  font-size: 23px;
}

.publisher-home > .publisher-body {
  margin-top: 20px;
  padding: 25px;
}

.publisher-info {
  float: right;
}

.publisher-bar * {
  margin-top: 12px;
  font-size: 23px;
}

.publisher-bar .links {
  text-decoration: underline;
}
/*** READ ARTICLE ***/

article h1, article p, article span {
  padding: 15px;
}

.block-footer {
  padding: 12px;
}

.block-footer div {
  margin-bottom: 25px;
}

.block-footer #tags span::before {
  content: '#\00a0';
}

.block-footer #tags span {
  color: #000;
}

.preview_body img {
  width: 160px;
  height: 160px;
  background-size: contain;
}
/*** FOOTER ***/

footer {
  padding: 50px;
  background-color: #000;
  color: #FFF;
  text-align: center;
}

/** MOBILE **/

@media (max-width: 1024px) {
  #header .container {
    padding: 0;
    margin: 0;
  }
  /*.navbar-right {
    margin-right: auto;
  }*/
  .navbar-open {
    overflow: hidden;
  }
  .nav-toggler {
    display: block;
  }
  #header nav.nav  {
    display: none ;
  }
  #header nav.nav li {
    display: block;
    padding: 0;
    margin: 0;
  }
  #header .nav.open {
    max-height: 250px;
    display: block;
    position: absolute;
    top: 50px;
    background-color: #FFF;
    border: 1px solid #000;
    overflow-y: auto;
  }
  #header .nav.open li {
    padding: 8px;
    border-bottom: 1px solid #000;
    box-shadow: 1px 0 1px 0 #000;
  }
  nav.nav.open li:hover {
    background-color: #bbb;
  }
  nav.nav.open li a {
    color: #000;
    font-family: 'New-Courier', italic;
    font-size: 18px;
  }
}

/**********/

/** Scrollbar **/
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #bbc;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
