@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dhurjati');

html, body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
}

a, a:hover {
  color: #000;
}

h1, h2, h3, h4, p, span {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

p, span {
  font-size: 17px;
}

img {
  max-width: 100%;
}

li {list-style-type: none;}
li > a.active {text-decoration: underline;}

textarea {
  resize: none;
}

.required::after {
  content: '\00a0*';
  color: #FB001D;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline !important;
}

.both {
  clear: both;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  min-height: 50px;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
}

.box-body {
  padding: 12px;
  text-align: justify;
}

.box-body::before {
  content: '';
  display: block;
  margin-bottom: 2px;
  width: 0;
  height: 2px;
  background-color: rgb(191, 184, 235);
  transition: width .4s;
}

.box-body:hover::before {
  width: 100%;
}

.info-box {
  padding: 7px;
  position: absolute;
  top: 35px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  line-height: 1.6em;
  font-size: 14px;
  z-index: 9999;
}

.sw-site {
  height: 100%;
}

.sw-master {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10232;
}

/** HEADER **/
.sw-master-nav {
  background-color: rgb(191, 184, 235);
}

/** NAVBAR **/

.navbar {
  display: flex;
  margin: 0;
  padding: 0 14px 0 14px;
  min-height: 60px;
}

ul {
  margin: 0;
}

.sw-master-nav .nav {
  display: flex;
}

.sw-master-nav .nav > ul > li {
  display: inline-block;
  padding-left: 8px;
}

.sw-master-nav .nav > li {
  padding-left: 25px;
}

.badge-notification {
  position: relative;
  top: -12px;
  margin-left: -12px;
  background-color: #A22932;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.nav-toggler {
  display: none;
  border-radius: 4px;
  padding: 6px;
  margin-right: 5px;
  background-color: #bbb7;
}

.nav-toggler span {
  cursor: pointer;
}

.dropdown-toggle a:hover, a:focus {
  text-decoration: none !important;
}

.dropdown-menu a {
  word-wrap: break-word;
  white-space: normal;
}

.dropdown-menu a:hover {
  text-decoration: none;
  background-color: rgb(162, 160, 159);
}

.notification-header {
  padding: 2px;
  border-bottom: 1px solid #bbb;
  box-shadow: 2px 12px 23px 0px rgba(0,0,0,0.07);
}

.notification-header div {
  display: inline-block;
}

.notification-title {
  margin-left: 13px;
  font-size: 19px;
}

.notification-opts {
  margin-right: 12px;
  float: right;
}

.notification-opts a:hover {
  background-color: transparent;
}

.notification-content {
  margin-top: 5px;
  max-height: 176px;
  overflow-y: hidden;
}

.notification-content:hover {
  overflow-y: auto;
}

.user-navbar {
  font-size:19px
}

.user-navbar > li.dropdown .dropdown-menu {
  width: 240px;
  left: -170px;
}

.ty-search {
  width: 500px;
}

.ty-search input {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.ty-search .set {
  height: 33px;
  position: relative;
  top: 1px;
  left: -3px;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ty-search button {
  background: none;
  border: none;
}

.data-list {
  width: 640px;
  position: absolute;
  top: 60px;
  background-color: #fff;
  font-size: 18px;
}

.data-list ul {
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  word-wrap: break-word;
}

.data-list ul h5 {
  margin-top: 4px;
  margin-left: 8px;
  padding: 3px;
  text-transform: uppercase;
  font-size: 19px;
}

.data-list li {
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 2px;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
}

.data-list li:hover {
  background-color: rgba(199, 191, 230, 0.3);
}

.data-list li img {
  margin-right: 5px;
  max-height: 24px;
  border-radius: 6px;
}

/** MAIN **/

.sw-content {
  margin-top: 60px;
  min-height: 100%;
}

.sw-content .container {
  padding-top: 12px;
  color: #000;
}

.fix-container {
  min-height: 1024px;
  background-color: #fff;
}

.fixed-alert {
  position: fixed;
  z-index: 9999;
  animation-name: anim-hide;
  animation-duration: 6s;
}

.alert-toggle {
  animation-name: anim-hide;
  animation-duration: 4s;
}
.container-alert__small {
  position: relative;

}

.alert {
  width: 100%;
}

@keyframes anim-hide {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden;}
}

.top-background h3 {
  color: #fff;
}

.u-icon {
  position: relative;
  max-width: 32px;
  max-height: 32pX;
}

.img-medium {
  max-width: 100px;
  max-height: 100px;
}

.img-circle {
  border-radius: 20px;
}

.dropdown .user-name {
  margin-left: 8px;
  display: none;
}

.dropdown-menu .user-name {
  display: block;
}

/** HOME **/

.card {
  margin-bottom: 35px;
}

.card h4 {
  margin-top: 8px;
  font-size: 18px;
}

.card span {
  color: #bbb;
  font-size: 14px;
}

.block-hero {
  width: 100%;
  min-height: 385px;
  margin-bottom: 20px;
  background-image: url('../upload/sywrit_mm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 19%;
  border-radius: 4px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.block-hero .caption {
  padding: 12px;
  color: #fff;
}

.block-hero .caption h4 {
  font-size: 24px;
  line-height: 1.3em;
}

.block-hero .caption .block-body {
  margin-top: 5px;
}

.block-body * {
  margin-left: 0 !important;
  padding: 0;
  float: none !important;
}

.block-body p.disabled {
  color: #bbb;
}

.block-footer .socials {
  float: right;
}

.form-reader {
  max-height: 170px;
  margin-left: 12px;
  overflow-y: scroll;
}

.form-reader h1, .form-reader h2, .form-reader p {
  font-family: 'New Courier', sans-serif ;
}

.form-reader h2 {
  padding: 5px;
}

.form-reader p {
  padding-left: 12px;
}

/*** PUBLISHERS ***/

/****************/

.publisher-home {
  height: auto !important;
  border-radius: 6px;
}

.publisher-home > .publisher-header {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border: 4px solid rgb(191, 184, 235);
}

.publisher-home > .publisher-header .publisher-logo {
  width: 100%;
  margin-top: 140px;
  position: relative;
  bottom: 0;
}

.publisher-home > .publisher-header .publisher-logo img {
  width: 125px;
  border: 2px solid #fff;
  border-radius: 1px;
}

.publisher-home > .publisher-header .info {
  color: #fff;
  word-wrap: break-word;
}

.publisher-home > .publisher-header .info span {
  width: 100%;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  font-size: 27px;
  letter-spacing: 1.3px;
}

.publisher-home > .publisher-header .info span.verified::after {
  content: ' \f058';
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.publisher-body {
  border-radius: 6px;
}

.publisher-nav {
  background-color: rgb(191, 184, 235);
}

.publisher-header {
  width: 100%;
  padding: 12px;
}

.publisher-bar .links {
  text-decoration: underline;
}

/*** READ ARTICLE ***/

article span[style^='background'] {
  padding: 4px;
}

.block-article {
  word-wrap: break-word;
}

.block-meta {
  margin: 0;
  padding: 0;
}

.meta-tags {
  padding: 0;
}

.meta-tags li {
  margin-top: 12px;
  padding: 6px;
  display: inline-block;
  background-color: #bfb8eb;
  border-radius: 3px;
}

.block-footer {
  padding: 12px;
}

.block-footer a {
  text-decoration: none !important;
}

.block-footer #tags span::before {
  content: '#\00a0';
}

.block-footer #tags span {
  color: #000;
}

.preview_body img {
  max-height: 160px;
  background-size: contain;
}

.sw-component-header {
  padding: 5px;
}

/*** ***/

.custom-upload ~ input[type="file"] {
    display: none;
}
.custom-upload {
  cursor: pointer;
}
/*** FOOTER ***/

.sw-ft {
  padding: 14px;
  min-height: 100px;
  height: auto;
  border-top: 2px solid rgb(191, 184, 235);
  background-color: #fff;
  color: #000;
  text-align: center;
}

.sw-ft a, .sw-ft a:hover {
  color: #000;
}

.sw-ft .links {
  margin: 0;
  padding: 0;
}

.sw-ft .links li {
  display: inline-block;
}

.sw-ft .links li:not(:last-child)::after {
  content: ' -';
}

.sw-ft p {
  margin-top: 12px;
}

/** MOBILE **/

@media (max-width: 1024px) {
  input[type=radio] {
    width: auto;
  }
  .sw-master-content .container {
    padding: 0;
    margin: 0;
  }
  .navbar-open {
    overflow: hidden;
  }
  .nav-toggler {
    display: block;
  }
  .ty-search {
    width: auto;
  }
  .ty-search input {
    display: none;
  }
  .ty-search .set {
    background: none;
  }
  .ty-search > .data-list {
    display: none;
  }
  .ty-search.full-width {
    width: 100%;
  }
  .ty-search.full-width > .data-list {
    display: block;
    left: 0;
    width: 100%;
  }
  .ty-search.full-width input {
    display: inline;
    width: 96%;
  }
  .ty-search.full-width button {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .block-hero .caption h4 {
    font-size: 19px;
  }
  .block-hero {
    min-height: 120px;
  }
  .__ui__g_container {
    margin: 0 !important;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .fix-container {
    max-width: 100%;
  }
  .publisher-home > .publisher-header .publisher-logo {
    margin-top: 100px;
  }
}

/** USER INTERFACE **/

.__ui__g {
  display: block;
  position: fixed;
  z-index: 10233;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.__ui__g_container {
  margin: 125px auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
}

.__ui__g_container .__ui__g_header div {
  display: inline-block;
}

.__ui__g_container .__ui__g_header {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}

.__ui__g_header .__ui__g_title {
  font-weight: bold;
  font-size: 24px;
}

.__ui__g_header .__ui__g_close {
  float: right;
  position: relative;
  top: -10px;
  font-size: 26px;
  cursor: pointer;
}

.cookie-consent {
  padding: 12px;
  border-radius: 3px;
  background-color: #8172e0 !important;
  color: #fff;
  line-height: 1.2em;
  z-index: 999;
}

.cookie-consent a {
  color: #fff;
  text-decoration: underline;
}

.cookie-consent__agree {
  margin-top: 6px;
  padding: 8px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 27px;
}

.btn-light {
  background-color: #bfb8eb;
  border-color: #bbb;
}

.btn-sw {
  color: #fff;
  background-color: #bfb8eb;
  border-color: #eee
}

.btn-sw:hover {
  color: #fff;
  background-color: #bfb8eb;
  border-color: #eee
}

.btn-facebook, .btn-facebook:hover {
  color: #fff;
  background-color: #4267b2 !important;
}

.bg-sw {
  background-color: #bfb8eb !important
}

.bg-dark {
  background-color: #8172e0 !important;
}

a.bg-sw:focus, a.bg-sw:hover, button.bg-sw:focus, button.bg-sw:hover {
  background-color: #bfb8eb !important
}

.sb-dialog {
  padding: 4px;
  min-width: 80px;
  width: auto;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
  font-size: 35px;
  z-index: 9999;
}

.sb-dialog a div {
  margin: 0 2px;
  font-size: 33px;
  color: #fff;
}

.sw_dark {
  color: #8172e0;
}

.sw-icon-large {
  font-size: 3em;
}

.sw-ico {
  display: inline;
}

.bs-icon {
  cursor: pointer;
}

.bs-icon-color-red {
  color: red !important;
}

.imgareaselect-border1 {
	background: url(border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}
